In [1]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup

In [3]:
response = requests.get("https://www.smartprix.com/mobiles")

In [4]:
response

In [ ]:
response.content

In [6]:
html = response.content

In [35]:
soup = BeautifulSoup(html, 'lxml')

In [38]:
mobile_phones = soup.find_all('div', {'class':'sm-product has-tag has-features has-actions'})

In [ ]:
mobile_phones

In [40]:
mobiles = []
for mobile_phone in mobile_phones:
  mobiles.append(str(mobile_phone))

In [41]:
mobiles[0]

'<div class="sm-product has-tag has-features has-actions" data-way=""><div class="sm-img-wrap"><img alt="OnePlus 11 5G" class="sm-img" src="https://cdn1.smartprix.com/rx-iab0UrrCY-w280-h280/oneplus-11-5g.jpg"/></div><a class="name clamp-2" data-target="_blank" data-way="" href="/mobiles/oneplus-11-5g-ppd12268zbmr"><h2>OnePlus 11 5G</h2></a><span class="price">₹54,999</span><!-- --><!-- --><div class="rating"><span class="sm-rating" style="--rating:4.5;"><!-- --><i></i></span><!-- --></div><ul class="sm-feat specs"><!--[--><li class="">Dual Sim, 3G, 4G, 5G, VoLTE, Wi-Fi, NFC</li><li class="">Snapdragon 8 Gen2, Octa Core, 3.2\u2009GHz Processor</li><li class="">12\u2009GB RAM, 256\u2009GB inbuilt</li><li class="">5000\u2009mAh Battery with 100W Fast Charging</li><li class="">6.7 inches, 1440\u2009x\u20093216\u2009px, 120 Hz Display with Punch Hole</li><li class="">50\u2009MP + 48\u2009MP + 32\u2009MP Triple Rear &amp; 16\u2009MP Front Camera</li><li class="s-no">Memory Card Not Supported</li><li class="">Android v13</li><!--]--></ul><div class="tags"><div class="score rank-2-bg"><b>89</b><small>Spec Score</small></div><!-- --></div><div class="sm-product-actions"><!--[--><button><svg class="icon" style="--s:20px;fill:dodgerblue;" viewbox="0 0 24 24"><path d="M17,13H13V17H11V13H7V11H11V7H13V11H17M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z"></path></svg><small>Compare</small></button><button class="like"><svg class="icon" style="--s:20px;fill:hotpink;" viewbox="0 0 24 24"><path d="M12.1,18.55L12,18.65L11.89,18.55C7.14,14.24 4,11.39 4,8.5C4,6.5 5.5,5 7.5,5C9.04,5 10.54,6 11.07,7.36H12.93C13.46,6 14.96,5 16.5,5C18.5,5 20,6.5 20,8.5C20,11.39 16.86,14.24 12.1,18.55M16.5,3C14.76,3 13.09,3.81 12,5.08C10.91,3.81 9.24,3 7.5,3C4.42,3 2,5.41 2,8.5C2,12.27 5.4,15.36 10.55,20.03L12,21.35L13.45,20.03C18.6,15.36 22,12.27 22,8.5C22,5.41 19.58,3 16.5,3Z"></path></svg><small>Like</small></button><a class="store" href="https://l.smartprix.com/l?k=12boV_~VxgVDAgWAnob2OxnsThrhArnrysuhy6h-usiahkbPobXXGZPZ5h-hrhhaFhrhrhhacBrWahrhrBi5oobXy6n3hrFB5bGJv~erJViT0" rel="nofollow noopener" target="_blank"><img alt="amazon" class="sm-img" loading="lazy" src="https://cdn1.smartprix.com/rx-iR2NxBi82-w32-h32/amazon.jpg"/><small>Search →</small></a><!--]--></div><div class="tag">UPCOMING</div></div>'

In [42]:
# find the name of first mobile
soup1 = BeautifulSoup(mobiles[0], 'lxml')

In [43]:
soup1.find(class_='name clamp-2').text

'OnePlus 11 5G'

In [59]:
# get name of all Mobiles

mobile_name = []
mobile_price= []
spec_score = []

for mobile in mobiles:
  soup1 = BeautifulSoup(mobile, 'lxml')

  mobile_name.append(soup1.find(class_='name clamp-2').text)

  mobile_price.append(soup1.find(class_='price').text)

  try:
    spec_score.append(soup1.find(class_='score rank-2-bg').find('b').text)
  except:
    spec_score.append("None")

In [60]:
pd.DataFrame({'mobile':mobile_name, 'price':mobile_price, 'spec-score':spec_score})

                                     mobile      price spec-score
0                             OnePlus 11 5G    ₹54,999         89
1                 OnePlus Nord CE 2 Lite 5G    ₹19,949         81
2                     Samsung Galaxy A14 5G    ₹16,499         75
3   Samsung Galaxy F23 5G (6GB RAM + 128GB)    ₹16,999         80
4                      Motorola Moto G62 5G    ₹14,999         81
5                        Realme 10 Pro Plus    ₹24,999         82
6                           Apple iPhone 14    ₹66,999         81
7             Xiaomi Redmi Note 12 Pro Plus    ₹29,999         86
8                           Nothing Phone 1    ₹26,749         85
9                        OnePlus Nord 2T 5G    ₹28,900         84
10                            Realme 10 Pro    ₹18,999         82
11                                 Oppo A78    ₹18,999         79
12              Xiaomi Redmi Note 12 Pro 5G    ₹24,828         79
13             Vivo T1 5G (6GB RAM + 128GB)    ₹16,990         80
14                          Apple iPhone 13    ₹62,990         79
15              Samsung Galaxy S23 Ultra 5G  ₹1,14,990       None
16                                 Vivo Y16     ₹9,999         65
17                     OPPO Reno 9 Pro Plus    ₹45,999         86
18                          Vivo V25 Pro 5G    ₹35,999         85
19                           OnePlus 10R 5G    ₹32,999         86